.features {
    display: flex;
}

@media (max-width: 1439px) {
    .features {
        flex-direction: row;
    }
    
    .feature {
        width: 67px;
        height: 67px;
    }
}

@media (min-width: 1440px) {
    .features {
        flex-direction: column;
    }

    .feature {
        width: 110px;
        height: 110px;
    }
}