@media (max-width: 1439px) {
    .breadcrumb-home {
        margin: 0;
        margin-left: 3px;
    }
}

@media (min-width: 1440px) {
    .breadcrumb-home {
        margin: 0 3px;
    }
}

.breadcrumbs {
    display: flex;
}

.breadcrumb {
    display: flex;
}

.breadcrumb-text {
    font-family: FuturaPT;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.1em;
    color: #000;
    opacity: 0.3;
}

.breadcrumb-splitter {
    margin: 0px 16px;
    opacity: 0.15;
}